.cont {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 40px;
    border: 1px solid #0e464f;
    background: #041e23;
    box-sizing: border-box;
  }
  
  .contp {
    align-self: stretch;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-align: center;
  }
  
  .contp2 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .about-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #0e464f;
    background: #041e23;
  }
  
  .aboutb1,
  .aboutb2 {
    width: 100%;
    max-width: 215px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    text-align: center;
  }
  
  .aboutb1 {
    border: 1px solid #24a0b5;
    background: none;
  }
  
  .aboutb1 p {
    color: #24a0b5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .aboutb2 {
    background: #24a0b5;
  }
  
  .aboutb2 p {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .cont {
      padding: 24px;
    }
  
    .contp2 {
      font-size: 48px;
    }
  
    .aboutb1,
    .aboutb2 {
      max-width: 180px;
    }
  }
  
  @media (max-width: 480px) {
    .cont {
      padding: 16px;
    }
  
    .contp2 {
      font-size: 32px;
    }
  
    .contp {
      font-size: 14px;
    }
  
    .aboutb1,
    .aboutb2 {
      width: 100%;
      max-width: 100%;
    }
  }
  